.wrapper {
  background: ;
}
.darkmode {
  display: none;
}
header {
  display: flex;
  justify-content: center;
  background-color: grey;
  height: 50px;
  align-items: center;
  position: sticky;
}
header .container {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
header .container .menu {
  display: flex;
  gap: 15px;
}
