/* .wrapper {
  background: ;
} */
.darkmode {
  display: none;
}
header {
  display: flex;
  justify-content: center;
  background-color: grey;
  height: 50px;
  align-items: center;
  position: sticky;
}
header .container {
  display: flex;
  justify-content: space-between;
  width: 85%;
}
header .container .menu {
  display: flex;
  gap: 15px;
}

/* Hero Section */
.hero {
  background-color: red;
  display: flex;
  flex-direction: row;
  gap: 50%;
  margin-top: 10%;
}
.left-flex {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60%;
}
.right-flex {
  display: flex;
  flex-direction: ;
}
